body {
	background-color: #f1f1f1;
	margin: 0;
	overflow-x: hidden;
	width: 100%;
	scrollbar-width: none;
}

body ::-webkit-scrollbar {
	display: none;
}

html {
	margin: 0;
	width: 100%;
	scrollbar-width: none;
}

html ::-webkit-scrollbar {
	display: none;
}

.pageColor {
	background: #f1f1f1;
}

.whiteBgColor {
	background: white;
}

.blackBgColor {
	background: #111;
}

.grayBgColor {
	background: gray;
}

.lightGrayBgColor {
	background: darkgray;
}

.darkGrayBgColor {
	background: dimgray;
}

.whiteTextColor {
	color: white;
}

.blackTextColor {
	color: black;
}

.grayTextColor {
	color: gray;
}

.lightGrayTextColor {
	color: darkgray;
}

.darkGrayTextColor {
	color: dimgray;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #333 !important;
	}

	.pageColor {
		background: #333 !important;
	}

	.whiteBgColor {
		background: #111 !important;
	}

	.blackBgColor {
		background: white !important;
	}

	.grayBgColor {
		background: darkgray !important;
	}

	.lightGrayBgColor {
		background: gray !important;
	}

	.darkGrayBgColor {
		background: lightgray !important;
	}

	.whiteTextColor {
		color: black !important;
	}

	.blackTextColor {
		color: white !important;
	}

	.grayTextColor {
		color: darkgray !important;
	}

	.lightGrayTextColor {
		color: gray !important;
	}

	.darkGrayTextColor {
		color: lightgray !important;
	}
}

a {
	color: #000;
	text-decoration: none;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	background-color: transparent;
}

button:active {
	opacity: 0.6;
}

.nowrap {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.justify-start {
	display: flex;
	justify-content: flex-start;
}

.justify-center {
	display: flex;
	justify-content: center;
}

.justify-end {
	display: flex;
	justify-content: flex-end;
}

.justify-evenly {
	display: flex;
	justify-content: space-evenly;
}

.justify-around {
	display: flex;
	justify-content: space-around;
}

.justify-between {
	display: flex;
	justify-content: space-between;
}

.align-start {
	display: flex;
	align-items: flex-start;
}

.align-center {
	display: flex;
	align-items: center;
}

.align-end {
	display: flex;
	align-items: flex-end;
}