.top {
	height: 80px;
	background: linear-gradient(#F83C5C, #F8002E);
}

.top-img {
	width: 50px;
	height: 50px;
}

.top-title {
	font-size: 28px;
	font-weight: 500;
	margin-left: 8px;
	color: white;
	/* transform: rotate(7deg); */
}

.top-menu span {
	font-size: 16px;
	color: white;
	margin-left: 20px;
}

.middle {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 30px;
	margin: 50px 0;
	justify-content: center;
}

.middle-item {
	padding: 40px 100px;
}

.middle-item:hover {
	box-shadow: 0 0 10px rgba(200, 200, 200, 0.6);
}

.middle-img {
	width: 80px;
	height: 80px;
}

.middle-name {
	font-weight: 400;
	margin: 20px 0 10px;
}

.middle-item:hover .middle-name {
	text-shadow: 2px 2px 5px #F8002E;
}

.middle-item:hover .middle-des {
	text-shadow: 2px 2px 5px #F83C5C;
}

.middle-des {
	font-size: 14px;
	font-weight: 300;
}

.middle-btn {
	margin-top: 30px;
	padding: 8px 40px;
	background: #F83C5C;
}

.middle-tips {
	font-size: 15px;
	font-weight: 500;
	color: white;
}

.bottom {
	padding: 50px 0;
}

.bottom-txt {
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

.bottom-txt p a span {
	margin-right: 12px;
}

@media only screen and (orientation: portrait) {
	.top {
		height: 60px;
	}

	.top-img {
		width: 40px;
		height: 40px;
	}

	.top-title {
		font-size: 20px;
	}

	.top-menu span {
		font-size: 14px;
		margin-left: 12px;
	}

	.middle {
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 30px;
		margin: 30px 0;
	}

	.middle-item {
		padding: 20px;
		border-radius: 12px;
	}

	.middle-img {
		width: 60px;
		height: 60px;
	}

	.middle-name {
		font-size: 14px;
		margin: 20px 0 10px;
	}

	.middle-des {
		font-size: 12px;
	}

	.middle-btn {
		margin-top: 20px;
		padding: 5px 30px;
	}

	.middle-tips {
		font-size: 12px;
	}

	.bottom {
		padding: 30px 0;
	}

	.bottom-txt {
		font-size: 12px;
	}

	.bottom-txt p a span {
		margin-right: 8px;
	}

}