<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>Music畅听音乐</title>
		<link rel="stylesheet" type="text/css" href="common.css">
		<link rel="stylesheet" type="text/css" href="index.css">
		<script src="vue.js"></script>
	</head>

	<body id="body" class="blackTextColor">
		<div class="top flex-row align-center justify-around">
			<div class="flex-row align-center">
				<img class="top-img" src="./res/logo.png" alt="logo" />
				<div class="top-title">
					<i>畅听音乐</i>
				</div>
			</div>

			<div class="top-menu flex-row align-center">
				<a href="https://www.fangpi.net"><span>免费音乐</span></a>
				<a href="https://im1907.top/"><span>免费电影</span></a>
			</div>
		</div>

		<div class="middle">
			<a :href="item.url" class="middle-item flex-col align-center whiteBgColor" href="item.url"
				v-for="(item,index) of list" :key="index">
				
				<img class="middle-img" :src="item.icon" alt="logo">

				<h4 class="middle-name nowrap blackTextColor">畅听音乐{{item.name}}</h4>
				<span class="middle-des nowrap darkGrayTextColor">更新日期：{{version}}</span>
				<div class="middle-btn">
					<span class="middle-tips nowrap">{{item.title}}</span>
				</div>
			</a>
		</div>

		<div class="bottom whiteBgColor flex-col align-center">
			<div class="bottom-txt grayTextColor">
				<p>友情链接：
					<a href="https://www.9ku.com/" target="_blank"><span class="grayTextColor">九酷音乐</span></a>
					<a href="https://m.amap.com/subway/" target="_blank"><span class="grayTextColor">地铁路线</span></a>
					<a href="http://www.haokan58.cc/" target="_blank"><span class="grayTextColor">好看电影</span></a>
					<a href="https://hellowindows.cn/" target="_blank"><span class="grayTextColor">系统镜像</span></a>
					<a href="https://www.box3.cn/ext.html#" target="_blank"><span class="grayTextColor">开发工具</span></a>
					<a href="https://www.chaqb.com/" target="_blank"><span class="grayTextColor">免费刷步</span></a>
				</p>
				<a href="https://www.12377.cn/" target="_blank"><span class="grayTextColor">互联网不良信息举报中心</span></a>
				<span>&nbsp;&nbsp;学习所用，侵权必删</span>
				<p>Copyright © 2000-2024 Music-Inc.All Rights Reserved</p>
			</div>
		</div>
		<script src="index.js"></script>
	</body>

</html>