<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<title>Music畅听音乐</title>
		<link rel="stylesheet" type="text/css" href="../common.css">
		<link rel="stylesheet" type="text/css" href="music.css">
		<script src="../vue.js"></script>
	</head>

	<body id="body">
		<div class="blackTextColor">
			<div class="search-bar flex-row align-center whiteBgColor">
				<input class="search-field" type="text" v-model="keyword" placeholder="请输入搜索关键字">
				<button v-if="keyword.length" class="search-btn blackTextColor" @click="cancelClick">取消</button>
				<button class="search-btn blackTextColor" @click="searchClick">搜索</button>
			</div>

			<div class="middle">
				<div v-if="isSearch" class="list whiteBgColor">
					<span class="middle-title">搜索结果</span>
					<div v-for="(item,index) in searchs" class="music-item" @click="selectIndex(index)">
						{{item.artist}} - {{item.name}}[{{item.album}}]
					</div>
				</div>
				<div v-else>
					<div class="list whiteBgColor">
						<span class="middle-title">推荐歌手</span>
						<div class="scroll-view">
							<div class="grid">
								<div class="singer flex-col align-center" v-for="(item,index) in singers" :key="index"
									@click="search(item.singer)">
									<img class="singer-img" :src="item.img" />
									<span class="singer-name">{{item.singer}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="list whiteBgColor">
						<span class="middle-title">推荐歌曲</span>
						<div class="music flex-col" v-for="(item,index) of musics" :key="index"
							@click="playClick(index)">
							<div class="name">{{item.name}}<span class="artist grayTextColor"> -
									{{item.singer}}</span>
							</div>
							<div class="flex-row align-center music-info">
								<div class="quality">
									免费
								</div>
								<span class="artist grayTextColor">{{item.album}}</span>
							</div>
							<div class="line" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="player-view whiteBgColor blackTextColor">
			<div class="flex-row align-center justify-between">
				<audio ref="player" controls autoplay preload="auto" @ended="finished">
					<source v-bind:src="audio.url" type="audio/mpeg">
				</audio>
				<div class="audio-info">
					{{audio.singer}} - {{audio.name}}[{{audio.album}}]
				</div>
			</div>
		</div>
		<script src="music.js"></script>
	</body>

</html>