.search-bar {
	margin: 20px 5vw;
	padding: 20px;
	border-radius: 10px;
}

.search-field {
	border-radius: 5px;
	border: 1px solid rgba(200, 200, 200, 0.5);
	font-size: 14px;
	padding: 8px;
	flex: 1;
}

.search-btn {
	background: transparent;
	font-size: 16px;
	margin-left: 20px;
}

.search-field:focus {
	outline: none;
}

.list {
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 20px;
}

.middle-title {
	display: block;
	font-size: 24px;
	font-weight: 500;
	padding-bottom: 30px;
}

.scroll-view {
	overflow-x: scroll;
	overflow-y: hidden;
}

.scroll-view::-webkit-scrollbar {
	display: none;
}

.music {
	padding: 0;
}

.middle {
	padding: 0 5%;
}

.line {
	margin: 15px 0;
	background-color: rgba(200, 200, 200, 0.2);
	height: 1px;
}

.name {
	font-size: 20px;
	font-weight: 500;
}

.artist {
	font-size: 16px;
	font-weight: 500;
	margin-left: 4px;
}

.music-info {
	margin-top: 8px;
}

.quality {
	color: green;
	border: green 1px solid;
	border-radius: 4px;
	font-size: 14px;
	padding: 0px 2px;
	font-weight: 300;
	margin-right: 6px;
}

.grid {
	display: grid;
	gap: 20px;
	grid-auto-flow: column;
	/* 先列后行 */
	height: 230px;
	grid-template-rows: 100px 100px;
}

.singer {
	height: 100%;
	width: 80px;
}

.singer-img {
	width: 100%;
	height: 80px;
	border-radius: 10px;
	object-fit: cover;
}

.singer-name {
	margin-top: 12px;
	text-align: center;
	font-size: 14px;
}

.player-view {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px 5vw;
}

.audio-info {
	font-size: 16px;
	white-space: pre-wrap;
	text-overflow: ellipsis;
}



@media only screen and (orientation: portrait) {

	.middle-title {
		font-size: 20px;
		font-weight: 400;
		padding-bottom: 20px;
	}
	
	.quality {
		font-size: 12px;
		padding: 0px 2px;
	}

	.name {
		font-size: 18px;
		font-weight: 400;
	}

	.artist {
		font-size: 14px;
		font-weight: 400;
		margin-left: 4px;
	}

	.audio-info {
		font-size: 14px;
	}
}